.pricing-section {
	background: #f9f2f0;
}

.pricing-item {
	text-align: center;
	background: #fff;
	padding-bottom: 40px;
	margin: 15px 0;
	border-radius: 13px;
	overflow: hidden;
	-webkit-box-shadow: 0px 5px 6px rgba(72, 105, 114, 0.15);
	box-shadow: 0px 5px 6px rgba(72, 105, 114, 0.15);
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.pricing-item:hover {
	-webkit-box-shadow: 0px 12px 32px rgba(72, 105, 114, 0.15);
	box-shadow: 0px 12px 32px rgba(72, 105, 114, 0.15);
}

.pricing-item .pi-top {
	height: 156px;
	padding-top: 26px;
	background: #ad9898;
}

.pricing-item .pi-top h4 {
	font-family: "Playfair Display", serif;
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
}

.pricing-item .pi-price {
	width: 144px;
	height: 144px;
	margin: -71px auto 30px;
	padding-top: 35px;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0px 5px 6px rgba(72, 105, 114, 0.15);
	box-shadow: 0px 5px 6px rgba(72, 105, 114, 0.15);
}

.pricing-item .pi-price h3 {
	font-size: 40px;
	font-weight: 700;
	color: #666666;
}

.pricing-item .pi-price p {
	text-transform: uppercase;
	color: #999999;
}

.pricing-item ul {
	list-style: none;
	margin-bottom: 20px;
}

.pricing-item ul li {
	font-size: 16px;
	color: #666666;
	margin-bottom: 12px;
}

.pricing-item.begginer .pi-top {
	background: #070707;
}

.pricing-item.entermediate .pi-top {
	background: #119b90;
}

.pricing-item.advanced .pi-top {
	background: #141313;
}

.pricing-item.professional .pi-top {
	background: #0b0a0a;
}